*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.carousel-inner img {
    width: 100%;
    height: 700px;
}

.mm{
    margin-top: 2px;
}

.aboutimg{
    width: 100%;
     height: 250px!important;
}

.navbar{
    background-color: thistle;
}
.navbar-brand{
    font-size: 60px;
    animation: echo 1s infinite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 22px;
}
@keyframes echo {
    10%{
        transform: matrix(160deg);
        color: aqua;
        color: orange;
        font-style: italic;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    20%{ 
        font-style: italic;
        border: 1px solid gold;
        border: 2px  rosybrown;
    
        color: orchid;

    }
}

.rr{
    
  margin-right: 8px;
    margin-top: 2px;
}
.rr:hover{

    background-color: orangered;
}

.nav-link:hover{
    background-color: orangered;
}
.navbar-brand a{
    font-size: 33px;
}


.nav-link{
    margin-top: 1px;
    margin-right: 22px;
}

nav

.hh{

    color: blue;
animation: game 1.5 infinite;
transition: 0.5s all;
}
@keyframes game{
    10%{
        background-color: chartreuse;

    }
}

.card-img{
border: 2px solid red  ;
}

#ad{
    border: 2px red;
}

.form-group label{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.abc{
    background-color: brown;
}





























