


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}

  body{
      min-height: 100px;
background-color: black;
  }

  header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 100px;
      z-index: 1000;
      transition: 0.6s;
  }

  header.sticky{
      padding: 5px 100px;
      background: black;
      border-bottom: 1px solid rgba (0,0,0,.1);
  }

  header .logo{

    position: relative;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
  }

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration:none;
    color: white;
    letter-spacing: 2px;
    font-weight: 300;
    transition: 0.6s;
}
header .sticky .logo,
header .sticky ul li a{
    color: red;

}




.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background:url(Untitled\ design.png);
    background-size: cover ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.banner h2{
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}
 
.banner h2 span{
    color: blue;
}


.sec{
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sec .content{
  position: relative;
  text-align: center;
  width: 100;
}

.mxw800p{
    max-width: 800px;
    margin: auto;
}
h3{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}


p{
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.btn{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    text-decoration: none;
    color: #fff;
}

.services{
    position: relative;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 30px;
    max-width: 100%;
}

.services .box{
    width: 300px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}
.services .box .iconBx{ 
     margin-top: 25px;
     
}

.services .box .iconBx img{
max-width: 75px;
margin-bottom: 15px;
}

.services .box h2{
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.stats{
    background: #000;
    padding-top:250px;
    margin-top: -250px;

}

.stats h3,
.stats p
{
color: #fff;
}
.statsbox{
    position: relative;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;

}
.statsbox h2{
    color: #fff;
    font-size: 36px;
}

.statsbox h4{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.workBx{
    position: relative;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;

    
}

.workBx .brand{
    position: relative;
    background: #4978ff;
    min-height: 300px;
    width: 250px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}
.workBx .brand:hover{
    background: #000;
}

.workBx .brand a{
    text-decoration: none;
    color: rgba(255,255,255,0.4);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.workBx .brand:hover a{
    color: rgba(255,255,255,0.4);
}
.teamBx{
    position: relative;
    position: relative;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;

}
.teamBx .member{
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.teamBx .member .detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 1s;
    opacity: 0;
    
}
.teamBx .member:hover .detail
{
    opacity: 1;
}
.teamBx .member .detail h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member .detail  h2 span{
    display: flex;
    font-size: 12px;
    font-weight: 300;
}

.contact{
    background: #000;
    background-size: auto;
    
}

.contact h3,
.contact p{
color: #fff;
}

.contactform{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;  
}

.contactform{
    width: 100%;

}

.contactform .row100{
    display: flex;
    width: 100%;
}
.contactform .row100 .inputBx50{
    width: 50%;
    margin: 0 20px;
}
.contactform .row100 .inputBx100{
    width: 100%;
    margin: 0 20px; 

}
.contactform .row100 input,
.contactform  .row100 textarea{
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: rgba(255,255,255,0.5);
    background: transparent;
    width: 100%;
    padding-top: 10px 0;
    outline:none;
    font-size: 18px;
    font-weight:300;
    margin: 20px 0;
    resize: none;
}

.contactform .row100 textarea{
    height: 100px;
}

.contactform .row100 input::placeholder,
.contactform .row100 textarea::placeholder{
    color: rgba(255,255,255,0.5);
}

.contactform .row100 input[type="submit"]
{
    background:   #fff;
    color: #000;
    max-width: 100px;
    
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
} 


.sci{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.sci ul{
    display: flex;
}
.sci ul li{
     list-style: none;
}
.sci ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 30px ;
}

.sci ul li a img{
     filter: invert(1);
      max-width: 40px;
}

.sci ul li a:hover img{
    opacity: 0.5;
}

.copyright {
    color: #fff;
}






.toggle
{
    display: none;
}
@media(max-width:992px)
{
    .toggle{
        display: block;
position: relative;
width: 30px;
height: 30px;
cursor: pointer;

    }
    .toggle:before{
        content: "";
        position: absolute;
        top: 4px;
        width: 100px;
        height: 2px;
        background:#fff  ;
        z-index: 1;
    }
}